::selection {
  background-color: #1fcc97; /* your desired highlight color */
  color: #0A0909; /* optional: text color during selection */
}
body {
  font-family: poppins;
}
.bg-dark {
  background-color: #0e0d0f !important;
}

.parent {
  background-color: #0A0909;
  padding-bottom: 12px;
}
.nav-img {
  height: auto;
  width: 100px;
  margin: 0;
}

.nav-link-grow {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
}
.nav-link-grow::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1fcc97;
  transition: width 0.3s ease-out;
}

.nav-link-grow:hover::after {
  width: 100%;
}

.nav-link-grow.active {
  color: #ffffff;
}
.nav-link-grow.active::after {
  width: 100%;
}
.nav-item {
  margin: auto;
}

#btn-login {
  position: relative;
  z-index: 1;
  border: 2px solid #3d3c4a; 
  overflow: hidden;
  transition: color 0.4s;
  width: fit-content;
  margin: auto;
}
#btn-login::after {
  background-color: #3d3c4a;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(30deg);
  transition-duration: 0.4s;
  transform-origin: top left;
  width: 0;
}
#btn-login:hover::after {
  height: 100%;
  width: 135%;
  
}
#btn-login:hover {
  color: #1fcc97 !important;
  border: 2px solid #1fcc97;
}


/* this for the home page */

#btn-signup {
  position: relative;
  z-index: 1;
  border: 2px solid #8fe5cc;
  color: #fff; 
  overflow: hidden;
  transition: color 0.4s;
  background-color: #1ecc97;
}
#btn-signup::after {
  background-color: #0e0d0f;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(-35deg);
  transition-duration: 0.4s;
  transform-origin: bottom right;
  width: 0;
}
#btn-signup:hover::after {
  height: 100%;
  width: 135%;
  
}
#btn-signup:hover {
  color: #1fcc97;
  border: 2px solid #1fcc97;
  
}

#btn-features {
  position: relative;
  z-index: 1;
  border: 2px solid #3d3c4a; 
  overflow: hidden;
  transition: color 0.4s;
}
#btn-features::after {
  background-color: #3d3c4a;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(30deg);
  transition-duration: 0.4s;
  transform-origin: top left;
  width: 0;
}
#btn-features:hover::after {
  height: 100%;
  width: 135%;
  
}
#btn-features:hover {
  color: #1fcc97 !important;
  border: 2px solid #1fcc97;
}

/* Features */

#features .custom-color, strong, #rule .custom-color, #aboutus {
  color: #1fcc97;
}

/* About Us */
#aboutus .pt-custom {
  padding-top: 0 !important;
}

/* cards */
.bg-custom {
  background-color: #7f7f87;
}


/* fonts */
@media (min-width: 768px) { /* xl and up */
  .fs-xl-custom {
    font-size: 2.5rem !important; /* bigger than fs-1 */
  }
}
@media (min-width: 768px) {
  p {
    font-size: 1.2rem;
  }
}