html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins ;
}

/* About Us */
#aboutus .pt-custom {
  padding-top: 0 !important;
}

/* Target the main card container */
.row-custom {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.card-custom {
  border: none;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  max-width: 28rem !important;
  box-shadow: 0 0 30px rgba(70, 69, 69, 0.329);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card-custom:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.15);
}

footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  margin: 0;
  }
  footer a {
  text-decoration: none;
  }
  footer a:hover {
  text-decoration: underline;
  }


/* fonts */
@media (min-width: 768px) { /* xl and up */
  .fs-xl-custom {
    font-size: 2.5rem !important; /* bigger than fs-1 */
  }
}
@media (min-width: 768px) {
  p {
    font-size: 1.2rem;
  }
}